application {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  width: 100%;

  > main {
<<<<<<< HEAD
	  flex: 1 1;
    height: 100%;
    overflow: hidden;
=======
    flex-grow: 1;
    overflow: auto;
    position: relative;
  }
}
>>>>>>> 5f00990a39a980fc799acfbe7b0db8ebd0055919

@media (min-width: $medium-display) {
  ias-nav #componentsSideNavToggle {
    display: none;
  }
}