.ias-icon-input {
  height: 33px;
  position: relative;

  > ias-icon {
    left: 0;
  }

  > .ias-icon-button {
    right: 0;
    margin-right: 0;
  }
	
  >.ias-button.ias-icon-button:not([disabled]):focus, .ias-button.ias-icon-button:not([disabled]):hover {
    background-color: transparent;
    border-color: transparent;
  }
	
  > ias-icon,
  > .ias-icon-button {
    position: absolute;
    top: 2px;
	  color: $color-gray-4;
  }

  > input {
    border: $input-border;
    border-radius: $border-radius;
    max-width: $search-box-max-width;
    padding: $input-padding ((2 * $search-box-icon-padding) + $search-box-icon-size);
  }

  > ias-icon,
  > .ias-icon-button {
    padding: $search-box-icon-padding;
  }

  ias-icon,
  .ias-icon-button {
    font-size: $search-box-icon-size;
  }
}