input {
  background-color: $input-bg-color;
}

ias-input-container input,
ias-input-container select,
ias-input-container textarea {
  background-color: $input-bg-color;
  border: $input-border;
  border-radius: $border-radius;
  color: inherit;

  font-size: 15px;

  &::-ms-clear {
    display: none;
  }

  &[disabled] {
    @include disabled-state;
  }
}

ias-input-container input,
ias-input-container textarea {
  padding: $input-padding;
}


ias-input-container > span.ias-icon-input-container {
  position: relative;
  border: $input-border;
  display: inline-block;
}

ias-input-container > span.ias-icon-input-container input {
  border: none;
  padding-left: 28px;
}

ias-input-container > span.ias-icon-input-container ias-icon {
  position: absolute;
  left: 0px;
  top: 6px;
  pointer-events: none;
}

ias-input-container input[type="text"],
ias-input-container input[type="password"],
ias-input-container textarea {
  min-width: 250px;
}

ias-input-container input.inputError,
ias-input-container textarea.inputError,
ias-input-container input.inputError:focus,
ias-input-container textarea.inputError:focus {
  border-color: $error-border-color;
}

input:focus, select:focus, textarea:focus {
    background-color: $input-bg-color;
    border-color: #01a9e7;
    color: #434c50;
    outline: none;
}

ias-input-container input.iasIntInput {
    min-width: 50px;
    width: 50px;
}

ias-input-container label {
  @include disable-text-selection;

  color: $input-label-text-color;
  display: block;
  font-size: $input-label-font-size;
  margin: $input-label-margin;
  vertical-align: middle;
}

ias-input-container {
  display: block;
  margin-bottom: $spacing;

  &.ias-inline {
    display: inline-block;

    &:not(:last-of-type) {
      margin-right: $spacing;
    }

    label {
      display: inline-block;
      margin-right: $spacing;
    }
  }
}

[dir="rtl"] {
    ias-input-container {
      &.ias-inline {
        label {
          margin-right: auto;
          margin-left: $spacing;
        }
      }
    }
    
    ias-input-container > span.ias-icon-input-container ias-icon {
      left: auto;
      right: 0px;
    }
    
    ias-input-container > span.ias-icon-input-container input {
      border: none;
      padding-left: none;
      padding-right: 28px;
    }
}

ias-input-container input.input-required-missing, ias-input-container input.ng-touched.ng-invalid {
    border: 1px solid $color-accent-4;
}

ias-input-container label span.required, h4.panel-title span.required {
    color: $color-accent-4;
    font-size: $font-size-medium;
    padding-left: 1px;
    padding-right: 5px;
    position: relative;
    top: 1px;
}

ias-input-container label.invalid-message, ias-icon.invalid-message {
    color: $color-accent-4;
}

ias-input-container label.weak {
    color: $color-gray-4;
    padding-bottom: 5px;
}

ias-input-container img.wait-icon {
    display: inline-block;
    padding-left: 3px;
    position: relative;
    max-height:16px;
}

ias-input-container label {
    font-weight: normal;
}

h4.panel-title {
    position: relative;
}

h4.panel-title ias-icon.invalid-message {
    position: absolute;
    top: -4px;
}