@import '../../node_modules/ng-prism/dist/ng-prism';
@import './components/application/application.component';
@import './components/components/components.component';
@import './components/docs/docs';

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body > [ui-view] {
    height: 100%;
    width: 100%;
}

.demo-section {
    margin-bottom: 24px;
    width: 100%;
}

.mf-tile-actions { color: #007cd0; }
.tiles mf-tile {
    display: inline-block;
    vertical-align: middle;
}

.side-nav-demo {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .12);
    display: flex;
    flex-flow: row nowrap;
    height: 300px;
    position: relative;
}
