ul.nav-tabs {
	-ms-flex-align: left;
    align-items: left;
    color: $color-gray-3;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    margin-bottom: $body-spacing-small;
    max-width: 100%;
    padding-top: 2px;
    padding-right: $body-spacing-small;
    position: relative;
    height: 31px;
    border-bottom: 1px solid $color-gray-3;
    position: relative;
}

li.ias-tab:first-child {
    margin-left: 10px;
}

.nav-tabs > li.ias-tab {
    background-color: $color-gray-7;
    color: #434c50;
    margin-right: 5px;
    min-width: 70px;
    text-align: center;
    border: 1px solid #dae1e1;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-bottom: 0px;
}

.nav-tabs > li.ias-tab a {
  	@include single-line;

	color: $color-gray-1;
    padding: 3px $body-spacing-small;
    height: 26px;
    min-width: 70px;
}

li.ias-tab.active {
    color: $color-black-1;
    cursor: default;
    font-size: $font-size-base;
    font-weight: $font-weight-medium;
    background-color: $dialog-bg-color;
    border-color: $color-gray-3;
    border-bottom: 4px solid $dialog-bg-color;
    z-index: 100;
    height: 31px;
}

li.ias-tab:hover {
    border-color: $color-primary-4;
    color: $color-primary-2;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}

.nav-tabs > li > a:hover {
    color: $color-primary-2;
    border-color: transparent;
	background-color: transparent;
}

li.ias-tab.active:hover {
    border: 1px solid $color-black-1;
    border-bottom: 4px solid $dialog-bg-color;
    color: $color-black-1;
    cursor: arrow;
    background-color: $dialog-bg-color;
}

.nav-tabs > li.ias-tab.active a, .nav-tabs > li.ias-tab.active a:hover, .nav-tabs > li.ias-tab.active a:focus {
    border: none;
    background: transparent;
    outline: none;
}

a.ias-tab-link {
    position: absolute;
    right: 5px;
}