ias-search-box {
  display: inline-block;

  ias-input-container {
    > input {
      padding-right: $icon-input-total-padding;
    }

    > .ias-button {
      &.ias-icon-button {
        border: none;
        right: 0;

        &:not([disabled]) {
          &:focus,
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
}
