ias-tile {
  background-color: $panel-bg-color;
  border-radius: $border-radius;
  border: $tile-border-width solid transparent;
  box-sizing: border-box;
  color: $tile-text-color;
  cursor: pointer;
  display: block;
  font-size: $tile-description-font-size;
  line-height: $tile-description-line-height;
  padding: $tile-padding;
  position: relative;

  // STATES
  &:focus,
  &:hover {
    background-color: $tile-bg-color;
    border-color: $tile-border-color;
    color: $tile-text-color;
    outline: none;
  }

  // SIZES
  &.ias-tiny {
    height: $tile-height-tiny;
    width: $tile-width-tiny;

    > .ias-tile-content {
      > ias-avatar {
        height: $tile-avatar-size-tiny;
        width: $tile-avatar-size-tiny;
      }

      > ias-icon {
        font-size: $tile-avatar-size-tiny;
      }

      > .ias-tile-body {
        display: none;
      }
    }
  }

  &.ias-small {
    height: $tile-height-small;
    width: $tile-width-small;

    > .ias-tile-content {
      > ias-avatar {
        height: $tile-avatar-size-small;
        width: $tile-avatar-size-small;
      }

      > ias-icon {
        font-size: $tile-avatar-size-small;
      }

      > .ias-tile-body {
        margin-left: $tile-padding;

        > :not(h3) {
          display: none;
        }

        > h3 {
          font-size: $tile-title-font-size-small;
        }
      }
    }
  }

  &.ias-medium {
    height: $tile-height-medium;
    width: $tile-width-medium;

    > .ias-tile-content {
      > ias-avatar {
        flex: 0 0 $tile-avatar-size-medium;
        height: $tile-avatar-size-medium;
        width: $tile-avatar-size-medium;
      }

      > ias-icon {
        font-size: $tile-avatar-size-medium;
      }

      > .ias-tile-body {
        height: $tile-avatar-size-medium;
        margin-left: $tile-padding;
        overflow: hidden;

        > h3 {
          font-size: $tile-title-font-size-medium;
        }
      }
    }
  }

  &.ias-large {
    flex-flow: column nowrap;
    height: $tile-height-large;
    text-align: center;
    width: $tile-width-large;

    > .ias-tile-content {
      flex-flow: column nowrap;

      > ias-avatar {
        flex: 0 0 $tile-avatar-size-large;
        height: $tile-avatar-size-large;
        width: $tile-avatar-size-large;
      }

      > ias-icon {
        font-size: $tile-avatar-size-large;
      }

      > .ias-tile-body {
        margin-top: $tile-padding;
        max-width: 100%;
        overflow: hidden;

        > h3 {
          font-size: $tile-title-font-size-large;
        }
      }
    }
  }

  a {
    @include focus-hover-background($body-bg-color);
  }
}

.ias-tile-content {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  pointer-events: none;

  > ias-icon {
    flex-shrink: 0;
  }

  > .ias-tile-actions {
    position: absolute;
    top: 0;
    right: 0;
  }

  > .ias-tile-body {
    > h3 {
      @include single-line;
      line-height: normal;
    }

    > h3,
    > p {
      margin: 0;
      padding: 0;
    }

    > p {
      margin-top: $tile-text-margin-top;
    }
  }
}

[dir="rtl"] {
  ias-tile {
    &.ias-small,
    &.ias-medium {
      > .ias-tile-content {
        > .ias-tile-body {
          margin-left: 0;
          margin-right: $tile-padding;
        }
      }
    }
  }

  .ias-tile-content {
    > .ias-tile-actions {
      left: 0;
      right: auto;
    }
  }
}
