ias-header {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: $content-padding;
  padding-top: $spacing;

  > .ias-header-title {
    font-size: 24px;
  }

  > .ias-header-sub-title {
    color: #808080;
    flex: 0 0 100%;
    font-size: 15px;
    order: 1;
  }

  > .ias-fill {
    flex-grow: 1;
    flex-basis: 0;
  }

  > .ias-icon-button {
    margin-left: $spacing;
  }

  > .ias-button {
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}