ias-header {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: $content-padding;
  padding-top: $spacing;

  > .ias-header-title {
  	@include single-line;

    font-size: $font-size-xlarge;
  }

  > .ias-header-sub-title {
    color: $color-gray-3;
    flex: 0 0 100%;
    font-size: $font-size-base;
    order: 1;
  }

  > .ias-fill {
    flex-grow: 1;
    flex-basis: 0;
  }

  > .ias-icon-button {
    margin-left: $spacing;
  }

  > .ias-button {
    &:not(:last-child) {
      margin-right: $body-spacing-xsmall;
    }
  }
}