mf-app-bar {
  background: $app-bar-bg-fallback;
  background: $app-bar-bg;
  color: $app-bar-text-color;
  display: block;
  font-size: $app-bar-font-size;

  > .mf-app-bar-content {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    min-height: $app-bar-height-small;
    padding-right: $body-spacing-small;
    overflow: hidden;

    > .mf-logo {
      display: block;
      max-height: $app-bar-height-small;
    }

    > .mf-title {
      margin-left: $body-spacing-small;
    }

    > span:not(.mf-fill) {
      @include single-line;
      flex-shrink: 10;
      margin-left: $body-spacing-large;
      margin-right: $body-spacing-small;
    }

    > .mf-button {
      background-color: transparent;
      border: none;
      color: inherit;
      flex-shrink: 0;
      font-size: inherit;

      &.mf-icon-button {
        padding: $app-bar-button-padding;

        > mf-icon {
          font-size: $app-bar-icon-size;
        }
      }

      &:hover {
        background-color: $app-bar-action-color;
        color: inherit;
      }

      &:not(.mf-icon-button) {
        > mf-icon {
          background-color: transparent;
        }
      }

      &:not(:last-of-type) {
        margin-right: $spacing;
      }
    }
  }
}

[dir="rtl"] {
  mf-app-bar {
    > .mf-app-bar-content {
      padding-left: $body-spacing-small;
      padding-right: initial;

      > .mf-title {
        margin-left: initial;
        margin-right: $body-spacing-small;
      }

      > .mf-button {
        &:not(:last-of-type) {
          margin-right: initial;
          margin-left: $spacing;
        }
      }
    }
  }
}

@media (min-width: $large-display) {
  mf-app-bar {
    > .mf-app-bar-content {
      padding: 0 $body-spacing-large 0 0;

      > .mf-logo {
        max-height: $app-bar-height-large;
      }

      > .mf-title {
        margin-left: $body-spacing-large;
      }
    }

    &.mf-large {
      height: $app-bar-height-large;

      > .mf-app-bar-content {
        > .mf-button {
          &.mf-icon-button {
            > mf-icon {
              font-size: $icon-size-small;
            }
          }
        }
      }
    }
  }

  [dir="rtl"] {
    mf-app-bar {
      > .mf-app-bar-content {
        padding-left: $body-spacing-large;

        > .mf-title {
          margin-right: $body-spacing-large;
        }
      }
    }
  }
}
