mf-app-bar {
  background: $app-bar-bg-fallback;
  background: $app-bar-bg;
  color: $app-bar-text-color;
  display: block;
  font-size: $app-bar-font-size;

  > .mf-app-bar-content {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;

    min-height: $app-bar-height-small;
    padding-right: $body-spacing-small;
    overflow: hidden;

    > .mf-logo {
      display: block;
      max-height: $app-bar-height-small;
    }

    > .mf-heading {
      /* Add height and line-height for align-items bug in IE11 */
      height: $app-bar-height-small;
      line-height: $app-bar-height-small;
      margin-left: $body-spacing-small;
    }

    > span:not(.mf-fill) {
      @include single-line;
      flex-shrink: 10;
      margin-left: $body-spacing-large;

      &:not(:last-child) {
        margin-right: $spacing;
      }
    }

    > .mf-button {
      background-color: transparent;
      border: none;
      color: inherit;
      flex-shrink: 0;
      font-size: inherit;
      margin-left: $spacing;

      &.mf-icon-button {
        padding: $app-bar-button-padding;

        > mf-icon {
          font-size: $app-bar-icon-size;
        }
      }

      &:not([disabled]) {
        &:focus,
        &:hover {
          background-color: $app-bar-action-color;
          color: inherit;
        }
      }

      &:not(.mf-icon-button) {
        > mf-icon {
          background-color: transparent;
        }
      }
    }
  }
}

[dir="rtl"] {
  mf-app-bar {
    background: $app-bar-bg-rtl;
    
    > .mf-app-bar-content {
      padding-left: $body-spacing-small;
      padding-right: 0;

      > .mf-heading {
        margin-left: 0;
        margin-right: $body-spacing-small;
      }

      > .mf-button {
        margin-left: 0;
        margin-right: $spacing;
      }

      > span:not(.mf-fill) {
        @include single-line;
        margin-left: 0;
        margin-right: $body-spacing-large;

        &:not(:last-child) {
          margin-left: $spacing;
        }
      }
    }
  }
}

@media (min-width: $large-display) {
  mf-app-bar {
    > .mf-app-bar-content {
      padding-right: $body-spacing-large;

      > .mf-logo {
        max-height: $app-bar-height-large;
      }

      > .mf-heading {
        margin-left: $body-spacing-large;
      }
    }

    &.mf-large {
      > .mf-app-bar-content {
        height: $app-bar-height-large;

        > .mf-button {
          &.mf-icon-button {
            > mf-icon {
              font-size: $icon-size-small;
            }
          }
        }
      }
    }
  }

  [dir="rtl"] {
    mf-app-bar {
      > .mf-app-bar-content {
        padding-left: $body-spacing-large;
        padding-right: 0;

        > .mf-heading {
          margin-left: 0;
          margin-right: $body-spacing-large;
        }
      }
    }
  }
}
