mf-dialog {
  animation: fadein 500ms;
  animation-fill-mode: forwards;
  background-color: $dialog-scrim-color;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
}

mf-dialog-content {
  background-color: $dialog-bg-color;
  border-radius: $border-radius;
  box-sizing: border-box;
  margin-top: 100px;
  margin-bottom: auto;
  overflow: hidden;
  position: relative;
  width: 100%;

  .mf-dialog-close-button {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  > .mf-actions {
    padding: $content-padding;
  }

  > .mf-dialog-body {
    padding: 0 $content-padding;
  }

  > .mf-dialog-header {
    padding: $content-padding $content-padding $spacing $content-padding;
  }
}

@media (min-width: $large-display) {
  mf-dialog-content {
    min-width: 320px;
    width: auto;
  }
}