ias-dialog {
  animation: fadein 500ms;
  animation-fill-mode: forwards;
  align-items: center;
  background-color: $dialog-scrim-color;
  display: flex;
  height: 100vh;
  justify-content: center;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

ias-dialog-content {
  background-color: $dialog-bg-color;
  border-radius: $border-radius;
  display: block;
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
  position: relative;

  .ias-dialog-close-button {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  > .ias-actions {
    padding: $content-padding;
  }

  > .ias-dialog-body {
    padding: 0 $content-padding;
    //width: 100%;
  }

  > .ias-dialog-header {
    padding: $content-padding 2 * $content-padding $spacing $content-padding;
  }
}

@media (min-width: $large-display) {
  ias-dialog-content {
    min-width: 320px;
  }
}