table {
  border-collapse: collapse;
  text-align: left;

  > thead {
    border-bottom: 1px solid $table-header-border-color;
    color: $color-gray-4;
    font-size: $table-header-font-size;

    ias-icon {
      font-size: inherit;
      vertical-align: middle;
    }

  }

  > tbody {
    > tr {
      vertical-align: middle;

      &:not(:last-child) {
        border-bottom: 1px solid $table-body-border-color;
      }

      &:hover {
        background-color: $table-row-bg-color-hover;
      }
    }
  }

  td, th {
    padding: 0 $spacing;
    font-weight: normal;

    > a {
      &:not(.ias-disabled) {
        @include focus-hover-background(transparent);
      }
    }

    > a,
    > ias-icon {
      vertical-align: middle;
    }

    > ias-icon {
      margin: 0 $table-icon-margin;
    }
  }

  tr {
    height: $table-row-height;
    vertical-align: middle;
  }

  ias-icon,
  .ias-icon-button {
    font-size: $table-icon-size;
  }
}

.ias-sortable {
  @include disable-text-selection;

  color: $link-text-color;
  font-weight: $font-weight-bold;
  cursor: pointer;
}

[dir="rtl"] {
  table {
    td, th {
      text-align: right;
    }
  }
}