body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body > [ui-view] {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 100%;
}

body > [ui-view] > main {
    flex: 1 0;
    overflow: hidden;
}

body > [ui-view] > main > [ui-view] {
    display: flex;
    flex: 1 0;
    flex-flow: row nowrap;
    height: 100%;
    position: relative;
    overflow: hidden;
}

body > [ui-view] > main > [ui-view] > [ui-view] {
    overflow: auto;
}
