@import 'style/text';
@import 'style/layout';
@import 'style/size';
@import 'style/states';
@import 'style/type';

@import 'components/app-bar/app-bar.component';
@import 'components/button/button.component';
@import 'components/icon/icon.component';
@import 'components/link/link.component';
@import 'components/nav/nav.component';
@import 'components/side-nav/side-nav.component';

body {
  background-color: $body-bg-color;
  color: $text-color;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
}
