mf-nav {
  background-color: $nav-bg-color;
  color: $nav-text-color;
  display: block;
  height: $nav-height;

  > .mf-nav-content {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    overflow: hidden;
    padding: 0 $nav-content-padding;

    > a,
    > .mf-button,
    > mf-menu {
      flex: none;
    }

    > a,
    > .mf-button {
      background-color: transparent;
      border-color: transparent;
      border-style: solid;
      border-radius: 0;
      border-width: $nav-item-border-v-width $nav-item-border-h-width;
      color: inherit;
      height: $nav-item-height;
      line-height: $nav-item-height;

      &:not([disabled]):not(.mf-disabled) {
        &:focus,
        &:hover {
          background-color: $nav-item-bg-color-hover;
          border-color: $nav-item-border-color-hover;
          color: $nav-item-color-hover;
        }
      }

      &[disabled],
      &.mf-disabled {
        color: $text-color-disabled;
      }
    }

    > a {
      margin: 0;

      > mf-icon {
        font-size: $nav-icon-size;
        margin-bottom: $nav-icon-margin;
        vertical-align: middle;
      }

      &:not([disabled]):not(.mf-disabled) {
        &.mf-active {
          border-bottom-color: $nav-item-border-bottom-color-active;
          border-left-color: $nav-item-border-color-active;
          border-right-color: $nav-item-border-color-active;
          color: $nav-item-color-active;
          font-weight: $font-weight-medium;
        }
      }
    }

    > .mf-button {
      box-sizing: content-box;

      &.mf-icon-button {
        > mf-icon {
          font-size: $nav-icon-size;
        }
      }
    }

    /* Everything */
    > a,
    > .mf-button,
    > span:not(.mf-fill) {
      padding: 0 $nav-item-padding;
    }

    /* Text */
    > span {
      @include single-line;
      line-height: $nav-height;

      > a {
        padding: $link-padding;

        &:hover {
          background-color: $nav-link-color-hover;
        }
      }
    }
  }
}

@media (min-width: $large-display) {
  mf-nav {
    > .mf-nav-content {
      padding: 0 $nav-content-padding-large;
    }
  }
}
