ias-nav {
  background-color: $nav-bg-color;
  color: $nav-text-color;
  display: block;

  > .ias-nav-content {
    display: flex;
    flex-flow: row nowrap;
    min-height: $nav-height;
    overflow: hidden;
    padding: 0 $nav-content-padding;

    // Fixed size nav items
    > a,
    > ias-menu,
    > .ias-button {
      flex: none;
    }

    // All nav items
    > a,
    > span:not(.ias-fill),
    > .ias-button {
      color: inherit;
      padding: 0 $nav-item-padding;
    }

    // Hoverable nav items
    > a,
    > .ias-button {
      background-color: transparent;
      border-color: transparent;
      border-style: solid;
      border-radius: 0;
      border-width: $nav-item-border-vertical-width $nav-item-border-horizontal-width;

      &[disabled],
      &.ias-disabled {
        background-color: transparent;
        border-color: transparent;
        color: $text-color-disabled;
      }

      &:not([disabled]):not(.ias-disabled) {
        &:focus:not(.ias-active),
        &:hover {
          background-color: $nav-item-bg-color-hover;
          border-color: $nav-item-border-color-hover;
          color: $nav-item-color-hover;
        }
      }
    }

    // Active-capable nav items
    > a {
      line-height: $nav-item-height;
      margin: 0;

      > ias-icon {
        font-size: $nav-icon-size;
        // Icons are a bit too low with vertical-align: middle, so use margin-bottom to compensate
        margin-bottom: $nav-icon-margin;
        vertical-align: middle;
      }

      &:not([disabled]):not(.ias-disabled) {
        &.ias-active {
          border-bottom-color: $nav-item-border-bottom-color-active;
          border-left-color: $nav-item-border-side-color-active;
          border-right-color: $nav-item-border-side-color-active;
          color: $nav-item-color-active;
          font-weight: $font-weight-medium;
        }
      }
    }

    // Non-hoverable, non-active-capable nav items
    > span:not(.ias-fill) {
      line-height: normal;
      margin: $nav-text-vertical-margin 0;
      max-width: $nav-text-max-width;

      > a {
        padding: $link-padding;

        @include focus-hover-background($nav-link-color-hover);
      }
    }

    // Hoverable, non-active-capable nav items
    > .ias-button {
      box-sizing: content-box;
      margin: 0;

      &.ias-icon-button {
        > ias-icon {
          font-size: $nav-icon-size;
        }
      }
    }
  }
}

ias-menu.ias-menu-flat-top {
  > ias-menu-content {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

@media (min-width: $medium-display) {
  ias-nav {
    > .ias-nav-content {
      padding: 0 $nav-content-padding-large;
    }
  }
}
